@import "./../../base/variable";
.sdgsitems__logo {
  max-width: 400px;
  width: 50%;
  margin: 0 auto;
  img {
    padding: 20px;
  }
}
.sdgstitle__logo {
  max-width: 600px;
  width: 80%;
  margin: 0 auto;
  img {
    padding: 20px;
  }
}
